#buscador{
    align-items: center;
    font-size: 1.3em;
    height: 40px;
    width: 400px;
    border-radius: 5px;
}
h1{
    text-align: center;
}
#find{
    color: #fff;
    font-size: 1.3em;
    width: 100px;
    height: 40px;
    background-color: #0857be;
    border-radius: 5px;
}


