body {
    background: linear-gradient(to bottom right, #052649, #000203); 
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    height: 100%;
}


.table {
    margin-top: 20px;
    border-radius: 10px;
    border-color: #0e1183;
    overflow: hidden;
}

.table th {
    background-color: #1065d4;
}

.table-hover tbody tr:hover {
    background-color: #e7f1ff;
}

.stock-form {
    font-size: 1.2em;
    height: 600px;
    background: linear-gradient(to bottom right, #0a4b91, #000203); 
    padding: 20px;
    border-radius: 8px;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.stock-form input {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn-primary {
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
}
.navbar {
    background-color: #161B22; 
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
    transition: color 0.3s, background-color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #0857BE;
    border-radius: 5px;
}

.navbar-dark .navbar-brand img {
    max-height: 28px; 
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.5);
}
.bgnav{
    background-color: #0857be;
}


.sidebarside {
    background-color: #0057b342;
    border-right: 2px solid rgb(255, 255, 255);
}

.sidebarside .nav-link {
    color: rgba(255, 255, 255, 0.85);
    transition: color 0.3s, background-color 0.3s;
}

.sidebarside .nav-link:hover {
    color: #ffffff;
    background-color: #06080a; 
    border-radius: 5px;
}

.sidebarside h4 {
    color: #700b0b; 
}

.main-content {
   
    min-height: 100vh; 
}
#productForm {
    max-width: 600px; 
    max-height: 550px;
    margin: 0 auto;
}
#providerForm {
    max-width: 600px; 
    max-height: 550px;
    margin: 0 auto; 
}
#marcaForm {
    max-width: 600px; 
    max-height: 200px;
    margin: 0 auto; 
}
#descForm {
    max-height: 200px;
    max-width: 600px; 
    margin: 0 auto; 
}

.alert-message{
    margin-top: 20px;
    max-width: 400px; 
    max-height: 100px;
    margin: 0 auto
}
nav.col-md-3.col-lg-2.d-md-block.sidebarside{
    height: 93%;
    position: absolute;
    border-radius: 5px;
    border: 8px solid #ffffff;
}
ul.nav.flex-column{
    text-align: center;
    font-size: 1.5em;
}
#cancelar.btn.btn-secondary.w-100{
    background-color: red;
}

.paginador_stock{
    justify-content: center; 
    align-items: center; 
}
.msj_error{
    margin-top: 10px;
    justify-content: center; 
}

.paginador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginador a, .paginador span {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.paginador .page {
    color: #333;
    background-color: #f5f5f5;
}

.paginador .current {
    color: #fff;
    background-color: #007bff;
    cursor: default;
}

.paginador .prev, .paginador .next {
    color: #007bff;
    background-color: #f5f5f5;
    font-weight: bold;
}

.paginador a:hover {
    background-color: #007bff;
    color: #fff;
}

.paginador .prev:hover, .paginador .next:hover {
    background-color: #0056b3;
    color: #fff;
}

.paginador .prev[disabled], .paginador .next[disabled] {
    color: #ccc;
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.paginador {
    margin-top: 20px;
}
#titulo_menu {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: -0.5px;
}
