
div{
    color: #ffffff;
}
body{
    background-color: #161B22;
}
.navbar {
    background-color: #0857BE !important;
}
.listar {
    margin-left: 10px;
}
.contenedor{
    width: 99%;
}
.mostrador{
    color: #000000;    
} 
h5.card-title{
    color: #000000;
}
#validationDefault04{
    width: 530px !important;
}  
.stock-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
}

.stock-form input[type="text"],
.stock-form input[type="number"] {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.submit-button {
    padding: 10px; 
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0056b3;
}
