
div{
    color: #ffffff;
}
body{
    background-color: #161B22;
}
.navbar {
    background-color: #0857BE !important;
}
.listar {
    margin-left: 10px;
}
.contenedor{
    width: 99%;
}
.mostrador{
    color: #000000;    
} 
h5.card-title{
    color: #000000;
}