.tabla-proveedores {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}
.tabla-proveedores th, .tabla-proveedores td {
    border: 1px solid #ffffff; /* Color de borde personalizado */
    padding: 10px;
    text-align: left;
}
.tabla-proveedores th {
    background-color: #01468f; /* Color de fondo de encabezado */
}
.tabla-proveedores tbody tr:nth-child(odd) {
    background-color: #2022a7b0; /* Color de fondo para filas impares */
}
.tabla-proveedores tbody tr:hover {
    background-color: #eb080834; /* Color al pasar el mouse */
}
